.ExperienceDetails {
  padding: 16px;
  background-color: lightgray;
  border-radius: 16px;
  margin-bottom: 16px;

  & > .header {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;

    & > #faHat {
      width: 34px;
      height: 34px;
    }
  }
}
